.daily-list {
  position: fixed;
  bottom: 0;
  right: 20px;
  min-width: 280px;
  background-color: #eee;
  z-index: 10;
  box-shadow: 0 1px 5px 3px #999;
}

.daily-list--extend-button {
  padding: 8px 12px;
}

.daily-list--extend-button .badge {
  margin-top: 2px;
}

.daily-list--places {
  font-size: 0.9rem; 
  background-color: white;
  padding: 8px 15px;
}

.daily-list--place {
  font-weight: bold;
}

.daily-list--place i {
  margin-top: 2px;
}

.daily-list--day {
  font-size: 0.9rem; 
  background-color: #eee;
  padding: 8px 15px;
}
