.google-maps-container {
  position: fixed;
  height: calc(100vh - 65px);
  margin-top: 65px;
  width: 70vw;
  left: 30vw;
  top: 0;
  z-index: -1;
}

.route-list {
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 0 5px -2px #888;
  width: 30vw;
}

.route-list .fa-chevron-circle-up,
.route-list .fa-chevron-circle-up {
  display: none;
}

.route-list-height {
  height: calc(100vh - 110px);
}

.route-list h4 {
  color: white;
  padding: 10px;
  width: 100%;
  background-color: #444;
  box-shadow: 0 2px 5px -2px #888;
  margin: 0;
}

.route-item {
  position: relative;
}

.route-chosen {
  background-color: #ddd;
}

@media (max-width: 991px) {
  .route-list {
    width: 60vw;
  }

  .google-maps-container {
    width: 40vw;
    left: 60vw;
  }
}

@media (max-width: 768px) {
  .route-list {
    width: 70vw;
  }

  .google-maps-container {
    width: 100vw;
    left: 0;
  }

  .route-list .fa-chevron-circle-up,
  .route-list .fa-chevron-circle-up {
    display: inline;
  }
}

@media (max-width: 600px) {
  .route-list {
    width: 80vw;
  }
}

@media (max-width: 489px) {
  .route-list {
    width: 100vw;
  }
}
