.search-box {
  position: absolute;
  top: 5px;
  width: 30%;
  left: 35%;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
  display: flex;
  align-items: center;
}

.input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25;
  color: white;
  text-align: center;
  background-color: #28a745;
  border: 1px solid #c2cfd6;
}

.search-box .input-group-addon {
  border: none;
}

.search-box input {
  border: none;
}

button:focus,
span:focus,
:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
